<h1>Add</h1>

<form method="post" action="/events/add">    <label>        Name of event        <input type="text" name="name" />    </label>    <label>        Description        <input type="text" name="description" />    </label>    <input type="submit" value=" Submit" /></form>


