<h1>Coding Events</h1>
    <a asp-controller="events" asp-action="Add"> New Field </a>
    @if (ViewBag.events.Count == 0)
    {
        <p> No events!</p>
    }
    else
    {


<table class="table">

    @foreach (KeyValuePair<string, string> item in ViewBag.events)
    {
        <tr>
            <td> @item.Key </td>
            <td> @item.Value</td>           

            
        </tr>
    }
    </table>
    }


